bidict 
brotlipy
certifi
cffi 
chardet
click
cryptography
dnspython
eventlet
Flask
Flask-Cors
Flask-SocketIO
greenlet
idna 
imagezmq
imutils
itsdangerous
Jinja2
MarkupSafe
numpy
olefile
opencv-python-headless
Pillow
pycparser
pyOpenSSL
PySocks
python-engineio
python-socketio
pyzmq
requests
six 
tornado
urllib3
Werkzeug
win-inet-pton 
wincertstore
gunicorn
