bidict 
brotlipy
certifi
cffi 
chardet
click
cryptography
eventlet
Flask
Flask-Cors
Flask-SocketIO==4.3.2
greenlet
idna 
imagezmq
imutils
itsdangerous
Jinja2
MarkupSafe
numpy
olefile
opencv-python-headless
Pillow
pycparser
pyOpenSSL
PySocks
python-engineio==3.13.2
python-socketio==4.6.0
pyzmq
requests
six 
tornado
urllib3
Werkzeug
win-inet-pton 
wincertstore
gunicorn
gevent
gevent-websocket
flask_session
