<!DOCTYPE HTML>
<html>
<head>
  <title>Sign Up</title>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
</head>

<body>

    <form action="/signup_page" method="get">
      <input type="text" placeholder="Username" name="Username"/>
      <input type="number" placeholder="ID" name="ID"/>
      <input type="text" placeholder="Category" name="Category"/>
      <input type="text" placeholder="email address" name="Email"/>
      <input type="text" placeholder="Gender" name="Gender"/>
      <input type="text" placeholder="Contact" name="Contact"/>
      <p><input type="submit" value="Sign Up" /></p>
    </form>
</body>
</html>

